{% extends "layouts/basic.html" %}
{% load static %}

{% block content %}

<!-- Page Title
============================================= -->
<section class="page-title bg-transparent">
	<div class="container">
		<div class="page-title-row">

			<div class="page-title-content">
				<h1>Edit password</h1>
			</div>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'main' %}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Edit password</li>
				</ol>
			</nav>

		</div>
	</div>
</section><!-- .page-title end -->

<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container">
			<div class="accordion accordion-lg mx-auto mb-0" style="max-width: 550px;">

				<div class="accordion-header">
					<div class="accordion-title">
						Edit password
					</div>
				</div>

				<div class="accordion-content">
					<form id="edit-form-password" name="register-form" class="row mb-0" method="post">
						{% csrf_token %}

                        <div class="col-12 form-group">
							<label for="register-form-password">Choose Password:</label>
							<input type="password" id="register-form-password" name="password" class="form-control">
						</div>

						<div class="col-12 form-group">
							<label for="register-form-repassword">Re-enter Password:</label>
							<input type="password" id="register-form-repassword" name="password2" class="form-control">
						</div>

						<div class="col-12 form-group">
							<button class="button button-3d button-black m-0" id="register-form-submit" name="register-form-submit" value="register">Edit</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</section><!-- #content end -->

{% endblock %}

{% block js %}
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/edit_password.js' %}"></script>
{% endblock %}