{% extends "layouts/basic.html" %}
{% load static %}

{% block head %}
<script src='https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}'></script>
{% endblock %}

{% block content %}

<!-- Page Title
============================================= -->
<section class="page-title bg-transparent">
	<div class="container">
		<div class="page-title-row">

			<div class="page-title-content">
				<h1>Email address for password reset</h1>
			</div>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'main' %}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Email address for password reset</li>
				</ol>
			</nav>

		</div>
	</div>
</section><!-- .page-title end -->

<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container">
			<div class="accordion accordion-lg mx-auto mb-0" style="max-width: 550px;">
				<div>
					<form id="login-form" name="login-form" class="row" method="post">
						{% csrf_token %}
						{% if messages %}
							{% for message in messages %}
								{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
									<div style="color: green;">{{ message }}</div>
								{% else %}
									<div style="color: red;">{{ message }}</div>
								{% endif %}
							{% endfor %}
						{% endif %}
						<div class="col-12 form-group">
							<label for="id_email">Email address:</label>
							{% if form.email.errors %}
								{% for error in form.email.errors %}
									<div style="color: red;">{{ error }}</div>
								{% endfor %}
							{% endif %}
							<input type="text" id="id_email" name="email" class="form-control">
						</div>

						<div class="col-12 form-group">
							<div class="d-flex justify-content-between">
								<input type="hidden" id="g_recaptcha_response" name="g_recaptcha_response">
								<button class="button button-3d button-black m-0" id="login-form-submit" name="login-form-submit" value="login">Send</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section><!-- #content end -->

{% endblock %}

{% block js %}
<script src="{% static 'js/functions.js' %}"></script>
<script>
    //global grecaptcha
    grecaptcha.ready(function() {
      grecaptcha.execute('{{ recaptcha_site_key }}').then(function(token) {
        document.getElementById('g_recaptcha_response').value = token;
      });
    });
</script>
{% endblock %}