{% extends "layouts/basic.html" %}
{% load static %}

{% block head %}
<script src='https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}'></script>
<style>
    @media (max-width: 750px) {
        .scores-class {
            display: block;
        }
    }

    @media (min-width: 750px) {
        .scores-class {
            display: flex;
        }
    }
</style>
{% endblock %}

{% block title %}My profile{% endblock %}

{% block content %}
<!-- Content
============================================= -->
<section id="content">
    {% csrf_token %}
    <input type="hidden" id="g_recaptcha_response" name="g_recaptcha_response">
    <div class="content-wrap">
        <div class="container">
            <div class="row gx-5">
                <div class="col-md-9">

                    <div class="heading-block border-0">
                        <div style="display:flex;justify-content: space-between;">
                        <h3>{{ request.user.get_username }}</h3>
                        
                        </div>
                        {% if request.user.is_notificated %}
                            <input id="checkbox-10" class="checkbox-style" name="is_notificated" type="checkbox" checked>
                        {% else %}
                            <input id="checkbox-10" class="checkbox-style" name="is_notificated" type="checkbox">
                        {% endif %}
                        <label for="checkbox-10" class="checkbox-style-3-label">Get notifications</label>

                        {% if request.user.is_autorenewal %}
                            <input id="checkbox-11" class="checkbox-style" name="is_autorenewal" type="checkbox" checked>
                        {% else %}
                            <input id="checkbox-11" class="checkbox-style" name="is_autorenewal" type="checkbox">
                        {% endif %}
                        <label for="checkbox-11" class="checkbox-style-3-label">Autorenewal</label>
                    </div>

                    <div class="row">

                        <div class="col-lg-12">

                            <div>

                                <ul class="nav canvas-alt-tabs tabs-alt tabs nav-tabs mb-3" id="tabs-profile" role="tablist" style="--bs-nav-link-font-weight: 600;">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="canvas-about-alt-tab" data-bs-toggle="pill" data-bs-target="#about-alt" type="button" role="tab" aria-controls="canvas-about-alt" aria-selected="false"><i class="bi-reply me-1"></i> Scores</a></button>
                                    </li>
                                    {% if paid_follows or follows %}
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="canvas-profile-alt-tab" data-bs-toggle="pill" data-bs-target="#profile-alt" type="button" role="tab" aria-controls="canvas-profile-alt" aria-selected="false"><i class="bi-pencil me-1"></i> Follows</button>
                                        </li>
                                    {% endif %}

                                    {% if blogs %}
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="canvas-contact-alt-tab" data-bs-toggle="pill" data-bs-target="#contact-alt" type="button" role="tab" aria-controls="canvas-contact-alt" aria-selected="false"><i class="bi-pencil me-1"></i> Blogs</a></button>
                                        </li>
                                    {% endif %}
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="canvas-companies-alt-tab" data-bs-toggle="pill" data-bs-target="#companies-alt" type="button" role="tab" aria-controls="canvas-companies-alt" aria-selected="false"><i class="bi-pencil me-1"></i> Companies</a></button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="canvas-general-alt-tab" data-bs-toggle="pill" data-bs-target="#general-alt" type="button" role="tab" aria-controls="canvas-general-alt" aria-selected="false"><i class="bi-pencil me-1"></i> general</a></button>
                                        </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="canvas-awards-alt-tab" data-bs-toggle="pill" data-bs-target="#awards-alt" type="button" role="tab" aria-controls="canvas-awards-alt" aria-selected="false"><i class="bi-pencil me-1"></i> awards</a></button>
                                    </li>
                                </ul>

                                <div id="canvas-TabContent2" class="tab-content">
                                    <div class="tab-pane fade active show" id="about-alt" role="tabpanel" aria-labelledby="canvas-about-tab" tabindex="0">
                                        <div class="scores-class justify-content-between">
                                            {% if request.user.unearned_scores != 0 %}
                                                <p id="user_unearned_scores">You have <span style="color: #83b341; font-weight: bold;">{{ request.user.unearned_scores }}</span> scores not received!</p>
                                            {% else %}
                                                <div>The next receipt of points - <span style="font-weight: bold;">{{ hour }}:{{ minute }}</span></div>
                                            {% endif %}
                                            <p style="font-size: 20px; font-weight: bold;"><span id="user_scores">{{ request.user.scores }}</span> scores</p>
                                        </div>
                                        {% if request.user.unearned_scores != 0 %}
                                            <form method="POST" id="form_scores">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success">Get them</button>
                                            </form>
                                        {% endif %}
                                    </div>

                                    <div class="tab-pane fade" id="contact-alt" role="tabpanel" aria-labelledby="canvas-contact-tab" tabindex="0">

                                        <!-- Posts
                                        ============================================= -->
                                        <div class="row gutter-40 posts-md mt-4">

                                            {% for blog in blogs %}
                                                <div class="entry col-12">
                                                    <div class="grid-inner row align-items-center g-0">
                                                        <div class="col-md-4">
                                                            {% if blog.preview %}
                                                                <a class="entry-image" href="{{ blog.preview.url }}" data-lightbox="image"><img src="{{ blog.preview.url }}" alt="Standard blog with Image"></a>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-md-8 ps-md-4">
                                                            <div class="entry-title title-sm">
                                                                <h3><a href="{% url 'blogs:show' blog.slug %}">{{ blog.title }}</a></h2>
                                                            </div>
                                                            <div class="entry-meta">
                                                                <ul>
                                                                    <li><i class="uil uil-schedule"></i> {{ blog.date|date:"d M Y" }}</li>
                                                                    <li><a href="{% url 'blogs:edit' blog.slug %}">Edit</a></li>
                                                                    <li><a style="cursor: pointer;" id="{{ blog.pk }}" class="delete_blog" value="{{ blog.pk }}">Delete</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="entry-content">
                                                                <a href="{% url 'blogs:show' blog.slug %}" class="more-link">Read More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="companies-alt" role="tabpanel" aria-labelledby="canvas-companies-tab" tabindex="0">

                                        <!-- Posts
                                        ============================================= -->
                                        <div class="row gutter-40 posts-md mt-4">
                                            {% csrf_token %}

                                            {% for blog in companies %}
                                                <div class="entry col-12">
                                                    <div class="grid-inner row align-items-center g-0">
                                                        <div class="col-md-4">
                                                            {% if blog.image %}
                                                            <a class="entry-image" href="{{ blog.image.url }}" data-lightbox="image"><img src="{{ blog.image.url }}" alt="Standard blog with Image"></a>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-md-8 ps-md-4">
                                                            <div class="entry-title title-sm">
                                                                <h3><a href="{% url 'campaign_detail' blog.slug %}">{{ blog.name }}</a></h2>
                                                            </div>
                                                            <div class="entry-meta">
                                                                <ul>
                                                                    <li><i class="uil uil-schedule"></i> {{ blog.created_at|date:"d M Y" }}</li>
                                                                    <li><a href="{% url 'campaign_update' blog.slug %}">Edit</a></li>
                                                                    <li><a style="cursor: pointer;" id="{{ blog.pk }}" class="delete_campaign" value="{{ blog.pk }}">Delete</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="entry-content">
                                                                <a href="{% url 'campaign_detail' blog.slug %}" class="more-link">Read More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <div class="mt-2" >
                                            <a href="{% url 'campaign_create' %}"><button type="button" class="btn btn-primary">Add New Company</button></a>
                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="general-alt" role="tabpanel" aria-labelledby="canvas-general-tab" tabindex="0">

                                        <div class="row gutter-40 posts-md mt-4">
                                            <div class="block-referral">
                                                <h3>Referral Link</h3>
                                                <div class="input-group">
                                                    <p>Share this link with your friends and earn scores by referring new users. Your current referral link is: <span style="font-weight: bold;">http://167.172.96.11/registration/login/?referral_code={{ request.user.referral_code }}</span></p>
                                                </div>
                                            </div>

                                            <div class="block-referral">
                                                <h3>Telegram wallet</h3>
                                                <div class="input-group">
                                                    <div class="telegram-wallet-btn" id="ton-connect"></div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="awards-alt" role="tabpanel" aria-labelledby="canvas-awards-tab" tabindex="0">

                                        <!-- Posts
                                        ============================================= -->
                                        <div class="row gutter-40 posts-md mt-4">
                                            {% csrf_token %}
                                            {% for blog in tasks %}
                                                {% if blog.campaign.user != request.user and blog.usertaskchecking_set.first.is_completed and not blog.usertaskchecking_set.first.is_received %}
                                                <div class="entry col-12">
                                                    <div class="grid-inner row align-items-center g-0">
                                                        <div class="col-md-4">
                                                            
                                                            {% if blog.usertaskchecking_set.all and blog.usertaskchecking_set.first.is_completed and blog.usertaskchecking_set.first.user.pk == request.user.pk %}
                                                                <span style="color: #0f0;border: solid 3px #0f0;border-radius: 4px;">Выполнено</span>
                                                            {% elif blog.usertaskchecking_set.all and blog.usertaskchecking_set.first.user.pk == request.user.pk %}
                                                                <span style="color: #f00;border: solid 3px #f00;border-radius: 4px;">Не выполнено</span>
                                                            {% else %}
                                                                <span style="color: #888;border: solid 3px #888;border-radius: 4px;">Не начато</span>
                                                            {% endif %}
                                                            {% comment %} <a class="entry-image" href="{{ blog.image.url }}" data-lightbox="image"><img src="{{ blog.image.url }}" alt="Standard blog with Image"></a> {% endcomment %}
                                                        </div>
                                                        <div class="col-md-8 ps-md-4">
                                                            <div class="entry-title title-sm">
                                                                <h3><a href="{% url 'task_detail' blog.campaign.slug blog.pk %}">{{ blog.name }}</a></h2>
                                                            </div>
                                                            <div class="entry-meta">
                                                                <ul>
                                                                    <li><i class="uil uil-schedule"></i> {{ blog.created_at|date:"d M Y" }}</li>
                                                                    
                                                                    {% if request.user == blog.campaign.user %}
                                                                        <li><a href="{% url 'task_update' blog.campaign.slug blog.pk %}">Edit</a></li>
                                                                        <li><a style="cursor: pointer;" id="{{ blog.pk }}" class="delete_task" value="{{ blog.pk }}">Delete</a></li>
                                                                    {% endif %}
                                                                </ul>
                                                                <button type="button" class="btn btn-primary get-reward" data-pk="{{blog.pk}}">GET</button>
                                                            </div>
                                                            <div class="entry-content">
                                                                <a href="{% url 'task_detail' blog.campaign.slug blog.pk %}" class="more-link">Read More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                        {% comment %} <div class="mt-2" >
                                            <a href="{% url 'campaign_create' %}"><button type="button" class="btn btn-primary">Add New Company</button></a>
                                        </div> {% endcomment %}

                                    </div>

                                    <div class="tab-pane fade" id="profile-alt" role="tabpanel" aria-labelledby="canvas-profile-tab" tabindex="0">

                                        {% if follows %}
                                            <p>Follows on blogs</p>

                                            <table class="table table-bordered table-striped">
                                            <tbody>
                                                {% for follow in follows %}
                                                    <tr>
                                                        <td style="vertical-align: middle;">
                                                            <a href="{% url 'blogs:show' follow.blog.slug %}">{{ follow.blog.title }}</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            </table>
                                        {% endif %}

                                        {% if paid_follows %}

                                            <p>Follows on private blogs</p>

                                            {% for paid_follow in paid_follows %}
                                                <div class="entry col-12">
                                                    <div class="grid-inner row align-items-center g-0">
                                                        <div class="col-md-4">
                                                            {% if paid_follow.blog.preview %}
                                                                <a class="entry-image" href="{{ paid_follow.blog.preview.url }}" data-lightbox="image"><img src="{{ paid_follow.blog.preview.url }}" alt="Standard blog with Image"></a>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-md-8 ps-md-4">
                                                            <div class="entry-title title-sm">
                                                                <h3><a href="{% url 'blogs:show' paid_follow.blog.slug %}">{{ paid_follow.blog.title }}</a></h2>
                                                            </div>
                                                            <div class="entry-meta">
                                                                <ul>
                                                                    <li><i class="uil uil-schedule"></i> {{ paid_follow.blog.date|date:"d M Y" }}</li>
                                                                </ul>
                                                            </div>
                                                            <div class="entry-content">
                                                                <a href="{% url 'blogs:show' paid_follow.blog.slug %}" class="more-link">Read More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="tab-pane fade" id="muted-alt" role="tabpanel" aria-labelledby="canvas-muted-tab" tabindex="0">

                                        {% if muted %}
                                            <p>Muted</p>

                                            <table class="table table-bordered table-striped">
                                                <tbody>
                                                    {% for hide in muted %}
                                                        <tr>
                                                            <td style="vertical-align: middle;">
                                                                <span>{{hide.user}}</span>
                                                            </td>
                                                            <td>
                                                                <button type="button" id="button_show" value="{{hide.user.username}}" class="btn btn-danger">Delete</button>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="w-100 line d-block d-md-none"></div>

                <div class="col-md-3">
                    <div class="list-group">
                        {% include "layouts/sidebar.html" %}
                        <div id="language" class="mt-2">
                            <h5>Language:</h3>
                            <div>
                                {% if request.user.language == 'english' %}
                                    <input id="english" class="radio-style" name="radio-group-2" value="english" type="radio" checked>
                                {% else %}
                                    <input id="english" class="radio-style" name="radio-group-2" value="english" type="radio">
                                {% endif %}
                                <label for="english" class="radio-style-2-label">English</label>
                            </div>
                            <div>
                                {% if request.user.language == 'russian' %}
                                    <input id="russian" class="radio-style" name="radio-group-2" value="russian" type="radio" checked>
                                {% else %}
                                    <input id="russian" class="radio-style" name="radio-group-2" value="russian" type="radio">
                                {% endif %}
                                <label for="russian" class="radio-style-2-label">Russian</label>
                            </div>
                            <div>
                                {% if request.user.language == 'any' %}
                                    <input id="any" class="radio-style" name="radio-group-2" value="any" type="radio" checked>
                                {% else %}
                                    <input id="any" class="radio-style" name="radio-group-2" value="any" type="radio">
                                {% endif %}
                                <label for="any" class="radio-style-2-label">Any</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #content end -->
{% endblock %}

{% block js %}
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/get_scores.js' %}"></script>
<script src="{% static 'js/get_notifications.js' %}"></script>
<script src="{% static 'js/autorenewal.js' %}"></script>
<script src="{% static 'js/language.js' %}"></script>
<script src="{% static 'js/show_from_user.js' %}"></script>
<script>
	function get_g_token() {
		//global grecaptcha
		grecaptcha.ready(function() {
			grecaptcha.execute('{{recaptcha_site_key}}').then(function(token) {
			  	document.getElementById('g_recaptcha_response').value = token;
			});
		});
	}

	get_g_token();
</script>
<script>
    var deletes_blog = document.querySelectorAll('.delete_blog');
    if (deletes_blog) {
        deletes_blog.forEach(delete_blog => {
            delete_blog.addEventListener('click', delete_blog_func);
        });
    }

    async function delete_blog_func(e) {
        e.preventDefault();

        var blog_id = e.target.id;
        var csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

        url = window.location.protocol + '//' + window.location.host + '/api/v1/blogs/delete/' + blog_id + '/';

        var response = await fetch(url, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': csrftoken,
            },
        });

        if (response.ok) {
            var result = await response.json();
    
            if (result.success) {
                window.location.reload();
            }
        } else {
            alert('Backend error');
        }
    }


    var deletes_campaign = document.querySelectorAll('.delete_campaign');
    if (deletes_campaign) {
        deletes_campaign.forEach(delete_campaign => {
            delete_campaign.addEventListener('click', delete_campaign_handler);
        });
    }

    async function delete_campaign_handler(e) {
        e.preventDefault();

        var campaign_id = e.target.id;
        var csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

        url = window.location.protocol + '//' + window.location.host + '/api/v1/companies/' + campaign_id + '/delete/';

        var response = await fetch(url, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': csrftoken,
            },
        });

        if (response.ok) {
            window.location.reload();
        } else {
            alert('Backend error');
        }
    }

</script>

<script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
<script>
    const tonConnectUI = new TON_CONNECT_UI.TonConnectUI({
        manifestUrl: 'http://167.172.96.11/static/manifest/tonconnect-manifest.json',
        buttonRootId: 'ton-connect'
    });

    {% comment %} async function connectToWallet() {
        console.log("ini")
        const connectedWallet = await tonConnectUI.connectWallet();
        console.log("Connected")
        console.log(connectedWallet);

        let ton_address_save = window.location.protocol + '//' + window.location.host + '/api/v1/users/connect_telegram_wallet/';
        await fetch(ton_address_save, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({  
                telegram_wallet: connectedWallet.address
            }),
        })
    } {% endcomment %}

    {% comment %} // Call the function
    connectToWallet().catch(error => {
        console.error("Error connecting to wallet:", error);
    }); {% endcomment %}
</script>
<script>
    const list_get_reward = document.querySelectorAll('.get-reward');

    async function get_reward_handler(e) {
        e.preventDefault();
        var reward_id = e.target.getAttribute('data-pk');
        var csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

        url = window.location.protocol + '//' + window.location.host + '/api/v1/companies/' + reward_id + '/receiving_an_award/' ;
        var response = await fetch(url, {
            method: 'PATCH',
            headers: {
                'X-CSRFToken': csrftoken,
            },
        })

        if (response.ok) {
            window.location.reload();
        } else {
            alert('Backend error');
        }
    }

    if (list_get_reward) {
        list_get_reward.forEach(reward => {
            reward.addEventListener('click', get_reward_handler);
        });
    }
</script>
{% endblock %}