{% extends "layouts/basic.html" %}
{% load tz %}
{% load static %}

{% block title %}Survey{% endblock %}

{% block head %}
<script src='https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}'></script>
<style>
    .progress-bar-1 {
        background-color: #e7e8e6;
        padding: 10px 0;
        border-radius: 10px;
    }

    .progress-bar-2 {
        position: relative;
        top: -20px;
        background-color: #7cfc00;
        padding: 10px 0;
        border-radius: 10px;
    }
    
    .progress-bar-3 {
        position: relative;
        top: -20px;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<!-- Content
============================================= -->
<section id="content">
    <input type="hidden" id="g_recaptcha_response" name="g_recaptcha_response">
    <div class="content-wrap" style="background-color: #EEE">
        <div class="container">
            <div class="single-post mb-0 mw-md mx-auto bg-light p-4 p-sm-5 rounded-1">
                <!-- Single Post============================================= -->
                <div class="entry">
                    <!-- Entry Title============================================= -->
                    <div class="entry-title">
                        <h2 class="fix_text">{{ survey.title }}</h2>
                    </div><!-- .entry-title end -->
                    <div class="row align-items-center mt-2">
                        <div class="col-md-3">
                            <!-- Entry Meta ============================================= -->
                            <div>
                                <ul class="d-flex flex-column entry-meta no-separator">
                                    <li class="me-0"><i class="uil uil-schedule"></i> {{ survey.date|date:"d M Y" }}</li>
                                    <li class="me-0"><a href="{% url 'users:profile' survey.user.username  %}"><i class="uil uil-user"></i> <span id="username">{{ survey.user.username }}</span></a></li>
                                    <li class="me-0"><i class="uil uil-comments-alt"></i> {{ count_comments }} Comments</li>
                                    <li class="me-0"><img width="16" height="16" style="margin-top: -2px; opacity: 0.5;" src="{% static 'images/icon_eye.png' %}"> <span style="margin-left: 5.5px;">{{ count_views }}</span></li>
                                    {% if follow_exists and request.user.is_authenticated %}
                                        {% if is_follow_survey %}
                                            <li class="me-0"><button type="button" class="btn btn-dark" id="unfollow_survey" style="font-size: 15px;">Unfollow from this survey</button></li>
                                        {% elif follow %}
                                            <li class="me-0"><button type="button" class="btn btn-dark" id="follow">Follow</button></li>
                                        {% else %}
                                            <li class="me-0"><button type="button" class="btn btn-dark" id="unfollow">Unfollow</button></li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div><!-- .entry-meta end -->
                        </div>
                        <div class="col-md-9">
                            <p class="text-larger text-muted mt-3">{{ survey.description }}</p>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <input type="hidden" name="survey_id" value="{{ survey.id }}">

                    <!-- Entry Image
                    ============================================= -->
                    <div class="entry-image align-wide-xl my-3">
                        <img src="{{ survey.preview.url }}" width="500" height="281"
                                allow="autoplay; fullscreen" allowfullscreen>
                        <figcaption class="text-center mt-2 text-muted text-smaller">Image Caption Text</figcaption>
                    </div><!-- .entry-image end -->

                    <div class="clear"></div>

                    <!-- Entry Content
                    ============================================= -->
                    <div class="mb-4">{{ survey.content|safe }}</div>

                    <div class="entry-content mt-3">
                        {% if vote %}
                            {% for option in options %}
                                <p id="id_options">
                                    <ol style="--length: 5" role="list" class="test-ol">
                                    </ol>
                                    {% if vote.option == option %}
                                        <div class="fix_text" style="font-size: 20px; font-weight: bold;">{{ option.title }}</div>
                                        <div class="fix_text" style="font-size: 20px; font-weight: bold;">Scores: {{ option.scores }}</div>
                                        <div>
                                            <div class="progress-bar-1"></div>
                                            <div class="progress-bar-2" style="width: {{ option.percent }}%"></div>
                                            <div class="progress-bar-3">{{ option.percent }} %</div>
                                        </div>
                                    {% else %}
                                        <div class="fix_text" style="font-size: 20px;">{{ option.title }}</div>
                                        <div class="fix_text" style="font-size: 20px;">Scores: {{ option.scores }}</div>
                                        <div>
                                            <div class="progress-bar-1"></div>
                                            <div class="progress-bar-2" style="width: {{ option.percent }}%"></div>
                                            <div class="progress-bar-3">{{ option.percent }} %</div>
                                        </div>
                                    {% endif %}
                                </p>
                            {% endfor %}
                        {% else %}
                            <div id="id_options">
                                {% for option in options %}
                                    <div>
                                        <input id="{{ option.id }}" class="radio-style" name="radio-group-2" value="{{ option.id }}" type="radio">
                                        <label for="{{ option.id }}" class="radio-style-2-label">{{ option.title }}</label>
                                    </div>
                                {% endfor %}
                            </div>

                            <form method="POST" id="form_scores" class="col-12 form-group mt-3" style="display: none;">
                                {% csrf_token %}
                                <label for="id_scores">Send scores:</label>
                                <input type="number" id="id_scores" name="scores" class="form-control" placeholder="Enter the number of scores..."/>
                                <input type="submit" class="btn btn-primary mt-2" value="Vote">
                            </form>
                        {% endif %}

                        <!-- Tag Cloud
                        ============================================= -->
                        <div class="tagcloud mb-5 mt-5">
                            {% for tag in tags %}
                                <a style="cursor: pointer;">{{ tag.title }}</a>
                            {% endfor %}
                        </div><!-- .tagcloud end -->

                    </div>
                    {% if request.user == survey.user %}
                        <div class="d-flex justify-content-between align-items-start">
                            <a href="{% url 'surveys:edit' survey.slug %}" class="btn btn-success">Edit</a>
                            <form method="POST" id="form_delete" style="inline-block;">
                                {% csrf_token %}
                                <button class="btn btn-danger" style="inline-block;" type="submit">Delete</button>
                            </form>
                        </div>

                        {% if survey.is_private %}
                            <div id="checkbox-followers">
                                {% if survey.is_public %}
                                    <input id="checkbox-10" class="checkbox-style" name="checkbox-10" type="checkbox">
                                {% else %}
                                    <input id="checkbox-10" class="checkbox-style" name="checkbox-10" type="checkbox" checked>
                                {% endif %}
                                
                                <label for="checkbox-10" class="checkbox-style-3-label">Only for followers</label>
                            </div>
                        {% endif %}
                    {% endif %}
                </div><!-- .entry end -->

                {% if request.user.is_staff or request.user == survey.user %}
                    <div class="row">
                        {% if not survey.hide_to_user and not survey.hide_to_moderator %}
                            <form method="POST" id="form_hide" style="display: inline-block;">
                                {% csrf_token %}
                                <button class="btn btn-info" type="submit">Hide</button>
                            </form>
                        {% else %}
                            <form method="POST" id="form_show" style="display: inline-block;">
                                {% csrf_token %}
                                <button class="btn btn-success" type="submit">Show</button>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}

                <!-- Comments
                ============================================= -->
                <div id="comments">

                    <h3 id="comments-title"><span>{{ count_comments }}</span> Comments</h3>

                    <!-- Comments List
                    ============================================= -->
                    <ol class="commentlist">
                        {% for comment in comments %}
                            <input type="hidden" value="{{ comment.id }}" id="comment">
                            {% if comment.delete_from_user %}
                                <li id="comment_{{ comment.id }}" class="comment byuser comment-author-_smcl_admin even thread-odd thread-alt depth-1"
                                    id="li-comment-2">

                                    <div id="comment-2" class="comment-wrap">


                                        <div class="comment-content d-flex justify-content-between align-items-center">
                                            <span style="color: #adb5bd;">This comment was deleted by the user.</span>
                                            <div>
                                                {% if request.user == survey.user or request.user.is_staff %}
                                                    <div><a style="cursor: pointer; color: var(--cnvs-themecolor);" onclick="delete_forever({{ comment.id }})" id="{{ comment.id }}">delete</a></div>
                                                {% endif %}

                                                {% if request.user.is_authenticated %}
                                                    <div class="mt-4" style="text-align: right;"><a style="cursor: pointer; color: var(--cnvs-themecolor);" onclick="form_reply({{ comment.id }})">reply</a></div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="clear"></div>

                                    </div>
                                    <ul class="children">
                                        {% for answer in answers %}
                                            {% if answer.comment == comment %}
                                                <li id="answer_{{ answer.id }}" class="comment byuser comment-author-_smcl_admin odd alt depth-2" id="li-comment-3">
            
                                                    <div id="comment-3" class="comment-wrap">
            
                                                        <div class="comment-content d-flex justify-content-between align-items-start">
                                                            <div>
                                                                <div class="comment-author"><a href="{% url 'users:profile' answer.user.username %}"
                                                                                                rel='external nofollow' class='url'>{{ answer.user.username }}</a><span>{{ answer.date|date:"d M Y G:i" }}</span>
                                                                </div>
                
                                                                <p>{{ answer.text }}</p>
                                                            </div>
                                                            {% if request.user == answer.user %}
                                                                <a style="cursor: pointer; color: var(--cnvs-themecolor);" onclick="delete_answer({{ answer.id }})" id="{{ answer.id }}">delete</a>
                                                            {% endif %}
                                                        </div>
            
                                                        <div class="clear"></div>
            
                                                    </div>
                                                    
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    {% if request.user.is_authenticated %}
                                        <form class="row mt-2" method="post" style="display: none;" id="answerform">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ comment.id }}" name="comment_id">
                                            <div class="w-100"></div>
                
                                            <div class="col-12 form-group">
                                                <label for="answer">Answer</label>
                                                <textarea id="id_answer" name="answer" cols="58" rows="7" tabindex="4"
                                                            class="form-control"></textarea>
                                            </div>
                
                                            <div class="col-12 form-group">
                                                <button name="submit" type="submit" id="submit-button" tabindex="5" class="button button-3d m-0">
                                                    Submit Answer
                                                </button>
                                            </div>
                                        </form>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li id="comment_{{ comment.id }}" class="comment byuser comment-author-_smcl_admin even thread-odd thread-alt depth-1"
                                    id="li-comment-2">

                                    <div id="comment-2" class="comment-wrap">


                                        <div class="comment-content d-flex justify-content-between align-items-start">
                                            <div>
                                                <div class="comment-author"><a href='{% url "users:profile" comment.user.username %}'
                                                                                rel='external nofollow' class='url'>{{ comment.user.username }}</a><span>{{ comment.date|date:"d M Y G:i" }}</span>
                                                </div>

                                                <p>{{ comment.text }}</p>
                                            </div>
                                            <div>
                                            {% if request.user == survey.user or request.user.is_staff %}
                                                <div><a style="cursor: pointer; color: var(--cnvs-themecolor);" onclick="delete_forever({{ comment.id }})" id="{{ comment.id }}">delete</a></div>
                                            {% elif request.user == comment.user %}
                                                <div><a style="cursor: pointer; color: var(--cnvs-themecolor);" onclick="delete_from_user({{ comment.id }})" id="{{ comment.id }}">delete</a></div>
                                            {% endif %}

                                            {% if request.user.is_authenticated %}
                                                <div class="mt-4" style="text-align: right;"><a style="cursor: pointer; color: var(--cnvs-themecolor);" onclick="form_reply({{ comment.id }})">reply</a></div>
                                            {% endif %}
                                            </div>
                                        </div>

                                        <div class="clear"></div>

                                    </div>
                                    <ul class="children">
                                        {% for answer in answers %}
                                            {% if answer.comment == comment %}
                                                <li id="answer_{{ answer.id }}" class="comment byuser comment-author-_smcl_admin odd alt depth-2" id="li-comment-3">
            
                                                    <div id="comment-3" class="comment-wrap">
            
                                                        <div class="comment-content d-flex justify-content-between align-items-start">
                                                            <div>
                                                                <div class="comment-author"><a href="{% url 'users:profile' answer.user.username %}"
                                                                                                rel='external nofollow' class='url'>{{ answer.user.username }}</a><span>{{ answer.date|date:"d M Y G:i" }}</span>
                                                                </div>
                
                                                                <p>{{ answer.text }}</p>
                                                            </div>
                                                            {% if request.user == answer.user or request.user.is_staff %}
                                                                <a style="cursor: pointer; color: var(--cnvs-themecolor);" onclick="delete_answer({{ answer.id }})" id="{{ answer.id }}">delete</a>
                                                            {% endif %}
                                                        </div>
            
                                                        <div class="clear"></div>
            
                                                    </div>
                                                    
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>

                                    {% if request.user.is_authenticated %}
                                        <form class="row mt-2" method="post" style="display: none;" id="answerform">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ comment.id }}" name="comment_id">
                                            <div class="w-100"></div>
                
                                            <div class="col-12 form-group">
                                                <label for="answer">Answer</label>
                                                <textarea id="id_answer" name="answer" cols="58" rows="7" tabindex="4"
                                                            class="form-control"></textarea>
                                            </div>
                
                                            <div class="col-12 form-group">
                                                <button name="submit" type="submit" id="submit-button" tabindex="5" class="button button-3d m-0">
                                                    Submit Answer
                                                </button>
                                            </div>
                                        </form>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol><!-- .commentlist end -->

                    <div class="clear"></div>

                    {% if request.user.is_authenticated %}
                        <!-- Comment Form
                        ============================================= -->
                        <div id="respond">

                            <h3>Leave a <span>Comment</span></h3>

                            <form class="row" method="post" id="commentform">
                                {% csrf_token %}
                                <div class="w-100"></div>

                                <div class="col-12 form-group">
                                    <label for="comment">Comment</label>
                                    <textarea id="id_comment" name="comment" cols="58" rows="7" tabindex="4"
                                                class="form-control"></textarea>
                                </div>

                                <div class="col-12 form-group">
                                    <button name="submit" type="submit" id="submit-button" tabindex="5" class="button button-3d m-0">
                                        Submit Comment
                                    </button>
                                </div>
                            </form>

                        </div><!-- #respond end -->
                    {% endif %}

                </div><!-- #comments end -->

            </div>

        </div>
    </div>
    {% if request.user == survey.user %}
        <input type="hidden" name="delete_comment_from" value="forever">
    {% else %}
        <input type="hidden" name="delete_comment_from" value="from_user">
    {% endif %}
</section><!-- #content end -->
{% endblock %}

{% block js %}
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/delete_survey.js' %}"></script>
    <script src="{% static 'js/send_comment.js' %}"></script>
    <script src="{% static 'js/send_scores_to_option.js' %}"></script>
    <script src="{% static 'js/send_hide_survey.js' %}"></script>
    <script src="{% static 'js/follow.js' %}"></script>
    <script>
        function delete_comment_block(id, username, text, date) {
            return `
                <li id="comment_${id}" class="comment byuser comment-author-_smcl_admin even thread-odd thread-alt depth-1"
                    id="li-comment-2">

                    <div id="comment-2" class="comment-wrap">


                        <div class="comment-content d-flex justify-content-between align-items-start">
                            <div>
                                <div class="comment-author"><a href='/profile/${username}/'
                                                                rel='external nofollow' class='url'>${username}</a><span>${date}</span>
                                </div>

                                <p>${text}</p>
                            </div>
                            <div>

                                <div><a style="cursor: pointer; color: var(--cnvs-themecolor);" onclick="delete_${document.querySelector('input[name="delete_comment_from"]').value}(${id})" id="${id}">delete</a></div>

                                <div class="mt-4" style="text-align: right;"><a style="cursor: pointer; color: var(--cnvs-themecolor);" onclick="form_reply(${id})">reply</a></div>
                            </div>
                        </div>

                        <div class="clear"></div>

                    </div>

                    <ul class="children"></ul>

                    <form class="row mt-2" method="post" style="display: none;" id="answerform">
                        {% csrf_token %}
                        <input type="hidden" value="${id}" name="comment_id">
                        <div class="w-100"></div>

                        <div class="col-12 form-group">
                            <label for="answer">Answer</label>
                            <textarea id="id_answer" name="answer" cols="58" rows="7" tabindex="4"
                                        class="form-control"></textarea>
                        </div>

                        <div class="col-12 form-group">
                            <button name="submit" type="submit" id="submit-button" tabindex="5" class="button button-3d m-0">
                                Submit Answer
                            </button>
                        </div>
                    </form>
                </li>
            `;
        }

        function delete_comment_block_user(id) {
            return `
                <div class="comment-content d-flex justify-content-between align-items-center">
                    <span style="color: #adb5bd;">This comment was deleted by the user.</span>
                    <div>
                        <div class="mt-4" style="text-align: right;"><a style="cursor: pointer; color: var(--cnvs-themecolor);" onclick="form_reply(${id})">reply</a></div>
                    </div>
                </div>

                <div class="clear"></div>
            `;
        }

    </script>
    <script src="{% static 'js/delete_comment.js' %}"></script>
    <script>
        async function add_view_to_survey() {
            let survey = document.querySelector('input[name="survey_id"]').value;
            let url = window.location.protocol + '//' + window.location.host + '/api/v1/surveys/views/add/' + survey + '/';
            let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    
            let response = await fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                },
            });
        }

        add_view_to_survey();
    </script>
    <script>
        function get_g_token() {
            //global grecaptcha
            grecaptcha.ready(function() {
                grecaptcha.execute('{{recaptcha_site_key}}').then(function(token) {
                    document.getElementById('g_recaptcha_response').value = token;
                });
            });
        }

        get_g_token();
    </script>

    <script>
        var id_options = document.querySelector('#id_options');
        if (id_options) {
            id_options.addEventListener('change', function() {
                document.querySelector('#form_scores').style.display = 'block';
            });
        }
    </script>
{% endblock %}