{% extends 'layouts/basic.html' %}
{% load static %}

{% block title %}Create a task{% endblock %}

{% block head %}
  <style>
    .dz-success-mark,
    .dz-error-mark,
    .dz-size {
      display: none;
    }
    
    .dropzone .dz-preview .dz-image {
      width: 640px;
      height: 360px;
    }
    
    .btn_input {
      border: none;
      font-size: 14px;
      margin-left: 4px;
    }
    
    .tag {
      background-color: rgba(0, 255, 255, 0.5);
      padding: 5px;
      border-radius: 5px;
      color: black;
      display: inline-block;
    }
  </style>
  <script src='https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}'></script>
{% endblock %}

{% block content %}
  <!--   Page Title
=============================================   -->
  <section class="page-title bg-transparent">
    <div class="container">
      <div class="page-title-row">
        <div class="page-title-content">
          <h1>Create a task</h1>
        </div>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'main' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Create a task</li>
          </ol>
        </nav>
      </div>
    </div>
  </section>
  <!-- .page-title end -->

  <!--   Content
=============================================   -->
  <section id="content">
    <div class="content-wrap">
      <div class="container">
        <div class="accordion accordion-lg mx-auto mb-0" style="max-width: 1000px;">
          <div>
            <form class="row mb-0" id="form_post" method="POST" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="col-12 form-group">
                <label for="type_id">Type:</label><br />
                <select id="type_id" name="task_type">
                  <option value="telegram_subscription">Telegram Subscription</option>
                  <option value="twitter_subscription">Twitter Subscription</option>
                  <option value="website_visit">Website Visit</option>
                  <option value="content_creation">Content Creation</option>
                  <option value="content_usage">Content Usage</option>
                  <option value="comment">Comment</option>
                  <option value="wallet_connect">Wallet Connect</option>
                  <option value="twitter_connect">Twitter Connect</option>
                  <option value="periodic_bonus">Periodic Bonus</option>
                  <option value="referral_registration">Referral Registration</option>
                </select>
              </div>

              <div class="col-12 form-group">
                <label for="content_usage_type_id">Content usage type:</label><br/>
                <select id="content_usage_type_id" name="content_usage_type">
                  <option value="test">Test</option>
                  <option value="quest">Quest</option>
                  <option value="post">Post</option>
                  <option value="survey">Survey</option>
                  <option value="comment">Comment</option>
                </select>
              </div>

              <div class="col-12 form-group">
                <label for="id_title">Name:</label>
                <input type="text" id="id_title" name="name" value="{{ form.name.value|default:"" }}" class="form-control" />
                <input type="hidden" id="id_redirect" name="redirect_url" value="{{redirect_url}}" class="form-control" />
                <input type="hidden" id="id_comp" name="campaign_pk" value="{{campaign_pk}}" class="form-control" />
              </div>

              <div class="col-12 form-group">
                <label for="id_description">Description:</label>
                <textarea name="description" class="form-control" id="id_description" cols="30" rows="5">{{ form.description.value|default:"" }}</textarea>
              </div>

              <div class="col-12 form-group">
                <label for="id_points_reward">Points reward:</label>
                <input type="number" id="id_points_reward" name="points_reward" value="{{ form.points_reward.value|default:"" }}" class="form-control" />
              </div>

              <div class="col-12 form-group">
                <label for="id_deadline">Deadline:</label>
                <input type="date" id="id_deadline" name="deadline" value="{{ form.deadline.value|default:"" }}" class="form-control" />
              </div>

              <div class="col-12 form-group">
                <label for="id_total_pool_points">Total pool points:</label>
                <input type="number" id="id_total_pool_points" name="total_pool_points" value="{{ form.total_pool_points.value|default:"" }}" class="form-control" />
              </div>

              <div class="col-12 form-group">
                <label for="id_external_link">External link:</label>
                <input type="text" id="id_external_link" name="external_link" value="{{ form.external_link.value|default:"" }}" class="form-control" />
              </div>

              <div class="col-12 form-group">
                <input type="hidden" id="g_recaptcha_response" name="g_recaptcha_response">
                <div class="d-flex justify-content-between">
                  <button id="id_save" type="submit" class="button button-3d button-black m-0">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #content end -->
{% endblock %}

{% block js %}
  <script src="{% static 'js/functions.js' %}"></script>
  <script src="{% static 'js/task/send_task.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader()
    
        reader.onload = function (e) {
          $('#ready_image').attr('src', e.target.result);
		  $('#ready_image').css('display', 'inline');
        }
    
        reader.readAsDataURL(input.files[0])
      }
    }
    
    $('#id_preview').change(function () {
      readURL(this)
    })
  </script>
  <script>
    function get_g_token() {
      //global grecaptcha
      grecaptcha.ready(function() {
        grecaptcha.execute('{{recaptcha_site_key}}').then(function(token) {
            document.getElementById('g_recaptcha_response').value = token;
        });
      });
    }
  
    get_g_token();
  </script>
{% endblock %}
