{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="author" content="SemiColonWeb">
	<meta name="description" content="Get Canvas to build powerful websites easily with the Highly Customizable &amp; Best Selling Bootstrap Template, today.">
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

	<!-- Font Imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=PT+Serif:ital@0;1&display=swap" rel="stylesheet">

	<!-- Core Style -->
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="{% static 'css/components/radio-checkbox.css' %}">

	<!-- Font Icons -->
	{% comment %} <link rel="stylesheet" href="{% static 'css/font-icons.css' %}"> {% endcomment %}

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src='https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}'></script>

	<!-- Plugins/Components CSS -->
	<link rel="stylesheet" href="{% static 'css/swiper.css' %}">
	{% block head %}{% endblock %}

	<!-- Document Title
	============================================= -->
	<title>{% block title %}{% endblock %}</title>

	<style>
		@media (min-width: 992px) {

			.block-nav-header .bg-white-light {
				background-color: #E5E3CE;
				border-bottom-right-radius: 0.5rem !important;
				border-bottom-left-radius: 0.5rem !important;
			}

			.block-nav-header #top-bar.transparent-topbar {
				z-index: 399;
				border-bottom: 0;
				background: transparent !important;
			}

			.block-nav-header .transparent-topbar + .transparent-header + #content {
			margin-top: -146px; /*  #header(height) + #top-bar(height) */


			}

		}

		@media (max-width: 992px) {
			.slash-language {
				display: none;
			}
		}

		.block-nav-header .top-links li:hover {
			background-color: rgba(0,0,0,0.15);
		}

		.block-nav-header #top-social li,
		.block-nav-header .top-links-item {
			border-left-color: rgba(0,0,0,0.1);
		}

	</style>

	<style>
		.block-footer-1 .widget_nav_menu li a,
		.block-footer-1 .widget_links li a,
		.block-footer-1 .widget_meta li a,
		.block-footer-1 .widget_archive li a,
		.block-footer-1 .widget_recent_comments li a,
		.block-footer-1 .widget_recent_entries li a,
		.block-footer-1 .widget_categories li a,
		.block-footer-1 .widget_pages li a,
		.block-footer-1 .widget_rss li a{
				font-size: 0.875rem;
				padding-left: 6px;
		}

		.block-footer-1 .widget_nav_menu:not(.widget-li-noicon) li::before,
		.block-footer-1 .widget_links:not(.widget-li-noicon) li::before,
		.block-footer-1 .widget_meta:not(.widget-li-noicon) li::before,
		.block-footer-1 .widget_archive:not(.widget-li-noicon) li::before,
		.block-footer-1 .widget_recent_entries:not(.widget-li-noicon) li::before,
		.block-footer-1 .widget_categories:not(.widget-li-noicon) li::before,
		.block-footer-1 .widget_pages:not(.widget-li-noicon) li::before,
		.block-footer-1 .widget_rss:not(.widget-li-noicon) li::before,
		.block-footer-1 .widget_recent_comments:not(.widget-li-noicon) li::before {
			content: "\ea1d";
			font-family: 'lined-icons';
			color: #1ABC9B;
		}

		.fix_text {
			word-break: break-all
		}

		.dropmenu {
			position: absolute;
			background-color: white;
			border-radius: 5px;
			box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
			color: black;
			padding: 10px;
			width: 320px;
			right: 0;
		}

		@media (max-width: 992px) {
			.dropmenu {
				right: none;
				left: -10px;
			}
		}

		.fix_color {
			color: black;
		}

		.read-it_btn {
			display: flex;
			justify-content: space-between;
			margin-bottom: 5px;
		}
	</style>

</head>

<body class="stretched block-nav-header">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper">

		<section style="background-image: radial-gradient(circle at top right, rgb(35,58,72) 0%, rgb(35,58,72) 28%,rgb(67,110,103) 28%, rgb(67,110,103) 45%,rgb(108,149,133) 45%, rgb(108,149,133) 63%,rgb(185,198,165) 63%, rgb(185,198,165) 100%);">

			<!-- Header
			============================================= -->
			<header id="header" class="transparent-header dark">
				<div id="header-wrap">
					<div class="container">

						<div class="header-row" style="position: relative;">
							<!-- Logo
									============================================= -->
									<div id="logo">
										<a href="{% url 'main' %}">
											<img class="logo-default" srcset="{% static 'images/logo.png' %}, {% static 'images/logo@2x.png 2x' %}" src="{% static 'images/logo@2x.png' %}" alt="Canvas Logo">
											<img class="logo-dark" srcset="{% static 'images/logo-dark.png' %}, {% static 'images/logo-dark@2x.png 2x' %}" src="{% static 'images/logo-dark@2x.png' %}" alt="Canvas Logo">
										</a>
									</div><!-- #logo end -->
			
									<div class="primary-menu-trigger">
										<svg class="svg-trigger" viewBox="0 0 100 100">
											<path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
											<path d="m 30,50 h 40"></path>
											<path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
										</svg>
									</div>

							<!-- Primary Navigation
									============================================= -->
									<nav class="primary-menu with-arrows">

										<ul class="menu-container">
											<li class="menu-item">
												<a class="menu-link" href="{% url 'main' %}">
													<div style="font-size: 14px;">Home</div>
												</a>
											</li>
											<li class="menu-item">
												<a href="{% url 'contests:index' %}" class="menu-link">
													<div style="font-size: 14px;">Contests</div>
												</a>
											</li>
											<li class="menu-item">
												<a href="{% url 'albums:index' %}" class="menu-link">
													<div style="font-size: 14px;">Albums</div>
												</a>
											</li>
											<li class="menu-item">
												<a href="{% url 'list_tests' %}" class="menu-link">
													<div style="font-size: 14px;">Tests</div>
												</a>
											</li>
											<li class="menu-item">
												<a href="{% url 'campaign_list' %}" class="menu-link">
													<div style="font-size: 14px;">My Campaigns</div>
												</a>
											</li>
											<li class="menu-item">
												<a href="{% url 'list_quests' %}" class="menu-link">
													<div style="font-size: 14px;">Quests</div>
												</a>
											</li>
											<li class="menu-item">
												<a href="{% url 'surveys:index' %}" class="menu-link">
													<div style="font-size: 14px;">Surveys</div>
												</a>
											</li>
											<li class="menu-item">
												<a href="{% url 'posts:index' %}" class="menu-link">
													<div style="font-size: 14px;">Posts</div>
												</a>
											</li>
											{% if request.user.is_authenticated %}
												<li class="menu-item">
													<a class="menu-link" href="{% url 'users:my_profile' %}">
														<div style="font-size: 14px;">Profile</div>
													</a>
												</li>
											{% else %}
												<li class="menu-item">
													<a class="menu-link" href="{% url 'users:login_register' %}">
														<div style="font-size: 14px;">Login</div>
													</a>
												</li>
											{% endif %}
											<li class="menu-item">
												<a class="menu-link" href="{% url "blogs:create" %}">
													<div style="font-size: 14px;">Create a blog</div>
												</a>
											</li>
											{% if request.user.is_authenticated %}
												<li class="menu-item">
													{% csrf_token %}
													<a class="menu-link" id="logout" style="cursor: pointer;">
														<div style="font-size: 14px;">Logout</div>
													</a>
												</li>
											{% endif %}
											<li class="menu-item" style="position: relative;">
												<span>
													<div id="notification" style="cursor: pointer;"><img width="24" src="{% static 'images/i-notification.png' %}"></div>
												</span>
												{% if request.notifications %}
													<div class="dropmenu" style="display: none;">
														<div class="read-it_btn"><div></div><button type="button" id="read_it" style="font-size: 12px;" class="btn btn-outline-secondary">Read it</a></div>
														<div id="notifications">
															{% for notification in request.notifications %}
																{% if notification.post %}
																	<a class="fix_text fix_color" href="{% url 'posts:show' notification.post.slug %}">
																		<div class="d-flex justify-content-between mb-2">
																			<div>
																				<div style="font-weight: bold; font-size: 13px;">A new post has been created</div>
																				<div>{{ notification.post.title }}</div>
																				<div>{{ notification.date|date:"d M Y H:i" }}</div>
																			</div>
																			{% if notification.post.preview %}
																				<div>
																					<div><img width="100" src="{{ notification.post.preview.url }}"></div>
																				</div>
																			{% endif %}
																		</div>
																	</a>
																{% elif notification.survey %}
																	<a class="fix_text fix_color" href="{% url 'surveys:show' notification.survey.slug %}">
																		<div class="d-flex justify-content-between mb-2">
																			<div>
																				<div style="font-weight: bold; font-size: 13px;">A new survey has been created</div>
																				<div>{{ notification.survey.title }}</div>
																				<div>{{ notification.date|date:"d M Y H:i" }}</div>
																			</div>
																			{% if notification.survey.preview %}
																				<div>
																					<div><img width="100" src="{{ notification.survey.preview.url }}"></div>
																				</div>
																			{% endif %}
																		</div>
																	</a>
																{% elif notification.donate %}
																	<a class="fix_text fix_color" href="{% url 'blogs:donate_show' notification.donate.pk %}">
																		<div class="d-flex justify-content-between mb-2">
																			<div>
																				<div style="font-weight: bold; font-size: 13px;">A donation was sent to you</div>
																				<div>{{ notification.donate.message|truncatechars:20 }}</div>
																				<div>{{ notification.date|date:"d M Y H:i" }}</div>
																			</div>
																			<div>
																				<div><img width="100" src="{% static 'images/donate.png' %}"></div>
																			</div>
																		</div>
																	</a>
																{% elif notification.test %}
																	<a class="fix_text fix_color" href="{% url 'detail_test' notification.test.slug %}">
																		<div class="d-flex justify-content-between mb-2">
																			<div>
																				<div style="font-weight: bold; font-size: 13px;">A new test has been created</div>
																				<div>{{ notification.test.title }}</div>
																				<div>{{ notification.date|date:"d M Y H:i" }}</div>
																			</div>
																			{% if notification.test.preview %}
																				<div>
																					<div><img width="100" src="{{ notification.test.preview.url }}"></div>
																				</div>
																			{% endif %}
																		</div>
																	</a>
																{% elif notification.quest %}
																	<a class="fix_text fix_color" href="{% url 'detail_quest' notification.quest.slug %}">
																		<div class="d-flex justify-content-between mb-2">
																			<div>
																				<div style="font-weight: bold; font-size: 13px;">A new quest has been created</div>
																				<div>{{ notification.quest.title }}</div>
																				<div>{{ notification.date|date:"d M Y H:i" }}</div>
																			</div>
																			{% if notification.quest.preview %}
																				<div>
																					<div><img width="100" src="{{ notification.quest.preview.url }}"></div>
																				</div>
																			{% endif %}
																		</div>
																	</a>
																{% elif notification.album %}
																	<a class="fix_text fix_color" href="{% url 'albums:show' notification.album.slug %}">
																		<div class="d-flex justify-content-between mb-2">
																			<div>
																				<div style="font-weight: bold; font-size: 13px;">A new album has been created</div>
																				<div>{{ notification.album.title }}</div>
																				<div>{{ notification.date|date:"d M Y H:i" }}</div>
																			</div>
																			{% if notification.album.preview %}
																				<div>
																					<div><img width="100" src="{{ notification.album.preview.url }}"></div>
																				</div>
																			{% endif %}
																		</div>
																	</a>
																{% elif notification.contest %}
																	<a class="fix_text fix_color" href="{% url 'contests:show' notification.contest.slug %}">
																		<div class="d-flex justify-content-between mb-2">
																			<div>
																				<div style="font-weight: bold; font-size: 13px;">{{ notification.text }}</div>
																				<div>{{ notification.contest.title }}</div>
																				<div>{{ notification.date|date:"d M Y H:i" }}</div>
																			</div>
																			{% if notification.contest.preview %}
																				<div>
																					<div><img width="100" src="{{ notification.contest.preview.url }}"></div>
																				</div>
																			{% endif %}
																		</div>
																	</a>
																{% elif notification.ban %}
																	<span>
																		<div class="d-flex justify-content-between mb-2">
																			<div>
																				<div style="font-weight: bold; font-size: 13px;">{{ notification.ban.text }}</div>
																				<div>{{ notification.date|date:"d M Y H:i" }}</div>
																			</div>
																		</div>
																	</span>
																{% elif notification.unban %}
																	<span>
																		<div class="d-flex justify-content-between mb-2">
																			<div>
																				<div style="font-weight: bold; font-size: 13px;">{{ notification.unban.text }}</div>
																				<div>{{ notification.date|date:"d M Y H:i" }}</div>
																			</div>
																		</div>
																	</span>
																{% elif notification.expiring_follow %}
																	<span>
																		<div class="d-flex justify-content-between mb-2">
																			<div>
																				<div style="font-weight: bold; font-size: 13px;">{{ notification.expiring_follow.text }}</div>
																				<div>{{ notification.date|date:"d M Y H:i" }}</div>
																			</div>
																		</div>
																	</span>
																{% elif notification.system_text %}
																	{% if notification.system_text.english %}
																		<span>
																			<div class="d-flex justify-content-between mb-2">
																				<div>
																					<div>{{ notification.system_text.title_eng }}</div>
																					<div style="font-weight: bold; font-size: 13px;">{{ notification.system_text.text_eng }}</div>
																					<div>{{ notification.date|date:"d M Y H:i" }}</div>
																				</div>
																			</div>
																		</span>
																	{% elif notification.system_text.russian %}
																		<span>
																			<div class="d-flex justify-content-between mb-2">
																				<div>
																					<div>{{ notification.system_text.title_rus }}</div>
																					<div style="font-weight: bold; font-size: 13px;">{{ notification.system_text.text_rus }}</div>
																					<div>{{ notification.date|date:"d M Y H:i" }}</div>
																				</div>
																			</div>
																		</span>
																	{% endif %}
																{% elif notification.answer_notification %}
																	<a class="fix_text fix_color" href="/{{ notification.answer_notification.namespace }}/show/{{ notification.answer_notification.slug }}/">
																		<div class="d-flex justify-content-between mb-2">
																			<div>
																				<div style="font-weight: bold; font-size: 13px;">{{ notification.answer_notification.answer.text }}</div>
																				<div>Username: {{ notification.answer_notification.answer.user.username }}</div>
																				<div>{{ notification.date|date:"d M Y H:i" }}</div>
																			</div>
																		</div>
																	</a>
																{% endif %}
															{% endfor %}
														</div>
														<div class="text-center"><a id="link_notifications" href="{% url 'notifications:index' %}">Notifications</a></div>
													</div>
												{% else %}
													<div class="dropmenu" style="display: none;">
														<div class="read-it_btn"><div></div><button type="button" id="read_it" style="font-size: 12px;" class="btn btn-outline-secondary disabled_read">Read it</a></div>
														<div id="notifications"><p style="padding: 30px; text-align: center;">No new notifications</p></div>
														<div class="text-center"><a id="link_notifications" href="{% url 'notifications:index' %}">Notifications</a></div>
													</div>
												{% endif %}
											</li>
										</ul>
			
									</nav><!-- #primary-menu end -->

						</div>
					</div>
				</div>
				<div class="header-wrap-clone"></div>
			</header><!-- #header end -->
		</section>
		
		{% block content %}{% endblock %}

		<!-- Footer
		============================================= -->
		<footer id="footer" class="bg-white border-width-1 border-f5 block-footer-1">
			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row col-mb-50">
						<div class="col-sm-4">

							<div class="widget">
								<img src="{% static 'images/footer-logo@2x.png' %}" alt="Image" class="footer-logo" height="25">
							</div>

						</div>

						<div class="col-sm-8">

							<div class="row gutter-50">
								<div class="col-lg-3 col-6">

									<div class="widget widget_links">

										<h4 class="text-transform-none ls-0">How we Work</h4>

										<ul>
											<li><a href="#">Documentation</a></li>
											<li><a href="#">Feedback</a></li>
											<li><a href="#">Plugins</a></li>
											<li><a href="#">Support Forums</a></li>
											<li><a href="#">Themes</a></li>
											<li><a href="#">Canvas Blog</a></li>
										</ul>

									</div>

								</div>

								<div class="col-lg-3 col-6">

									<div class="widget widget_links">

										<h4 class="text-transform-none ls-0">About Us</h4>

										<ul>
											<li><a href="#">Documentation</a></li>
											<li><a href="#">Feedback</a></li>
											<li><a href="#">Plugins</a></li>
											<li><a href="#">Support Forums</a></li>
											<li><a href="#">Themes</a></li>
											<li><a href="#">Canvas Blog</a></li>
											<li><a href="#">Contact Us</a></li>
										</ul>

									</div>

								</div>

								<div class="col-lg-3 col-6">

									<div class="widget widget_links">

										<h4 class="text-transform-none ls-0">How we do</h4>

										<ul>
											<li><a href="#">Plugins</a></li>
											<li><a href="#">Support Forums</a></li>
											<li><a href="#">Themes</a></li>
											<li><a href="#">Canvas Blog</a></li>
											<li><a href="#">Contact Us</a></li>
										</ul>

									</div>

								</div>

								<div class="col-lg-3 col-6">

									<div class="widget widget_links">

										<h4 class="text-transform-none ls-0">Resources</h4>

										<ul>
											<li><a href="#">Documentation</a></li>
											<li><a href="#">Feedback</a></li>
											<li><a href="#">Plugins</a></li>
											<li><a href="#">Support Forums</a></li>
											<li><a href="#">Themes</a></li>
											<li><a href="#">Canvas Blog</a></li>
										</ul>

									</div>

								</div>
							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="bg-light">
				<div class="container">

					<div class="row col-mb-30">

						<div class="col-md-4 text-center text-md-start">
							<div class="d-flex justify-content-center justify-content-md-start">
								<a href="#" class="social-icon si-small text-light bg-facebook">
									<i class="fa-brands fa-facebook-f"></i>
									<i class="fa-brands fa-facebook-f"></i>
								</a>

								<a href="#" class="social-icon si-small text-light bg-twitter">
									<i class="fa-brands fa-twitter"></i>
									<i class="fa-brands fa-twitter"></i>
								</a>

								<a href="#" class="social-icon si-small text-light bg-google">
									<i class="fa-brands fa-google"></i>
									<i class="fa-brands fa-google"></i>
								</a>

								<a href="#" class="social-icon si-small text-light bg-pinterest">
									<i class="fa-brands fa-pinterest-p"></i>
									<i class="fa-brands fa-pinterest-p"></i>
								</a>

								<a href="#" class="social-icon si-small text-light bg-linkedin">
									<i class="fa-brands fa-linkedin"></i>
									<i class="fa-brands fa-linkedin"></i>
								</a>
							</div>
						</div>

						<div class="col-md-4 text-center text-md-center">
							&copy; 2023 All Rights Reserved by Canvas Inc.<br>
						</div>

						<div class="col-md-4 text-center text-md-end">
							<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
						</div>

					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="uil uil-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
    {% block js %}{% endblock %}
	<script src="{% static 'js/send_logout.js' %}"></script>
	<script src="{% static 'js/read_it.js' %}"></script>
	<script src="{% static 'js/search.js' %}"></script>
	<script src="{% static 'js/search_tags.js' %}"></script>
	<script src="{% static 'js/select_category.js' %}"></script>
	<script>
		// Timezone settings
		const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"
		document.cookie = "timezone=" + timezone;
	</script>

	<script>
		var dropmenu = document.querySelector('.dropmenu');
		var notification = document.querySelector('#notification');

		document.body.addEventListener('click', function(e) {
			var img_notification = notification.querySelector('img');
			if (dropmenu.style.display == 'block') {
				if (e.target != dropmenu && e.target != notification && e.target != img_notification) {
					dropmenu.style.display = 'none';
				}
			}
		});

		notification.addEventListener('click', function() {
			if (dropmenu.style.display == 'none') {
				dropmenu.style.display = 'block';
			} else if (dropmenu.style.display == 'block') {
				dropmenu.style.display = 'none';
			}
		});

		document.querySelector('.dropmenu').addEventListener('click', function(e) {
			e.stopPropagation();
		});
	</script>
</body>
</html>