<div class="mb-5">
    <select class="form-select mb-2" id="select_category">
        <option selected disabled>Select a category</option>
        {% for category in categories %}
            {% if category.pk|slugify == request.GET.category %}
                {% if not request.user.language or request.user.language == 'english' or request.user.language == 'any' %}
                    <option value="{{category.id}}" selected>{{category.category_eng}}</option>
                {% else %}
                    <option value="{{category.id}}" selected>{{category.category_rus}}</option>
                {% endif %}
            {% else %}
                {% if not request.user.language or request.user.language == 'english' or request.user.language == 'any' %}
                    <option value="{{category.id}}">{{category.category_eng}}</option>
                {% else %}
                    <option value="{{category.id}}">{{category.category_rus}}</option>
                {% endif %}
            {% endif %}
        {% endfor %}
    </select>

    {% if select_category %}
        <select class="form-select mb-2" id="select_subcategory">
            <option selected disabled>Select a subcategory</option>
            {% for subcategory in subcategories %}
                {% if subcategory.pk|slugify == request.GET.subcategory %}
                    {% if not request.user.language or request.user.language == 'english' or request.user.language == 'any' %}
                        <option value="{{subcategory.id}}" selected>{{subcategory.subcategory_eng}}</option>
                    {% else %}
                        <option value="{{subcategory.id}}" selected>{{subcategory.subcategory_rus}}</option>
                    {% endif %}
                {% else %}
                    {% if not request.user.language or request.user.language == 'english' or request.user.language == 'any' %}
                        <option value="{{subcategory.id}}">{{subcategory.subcategory_eng}}</option>
                    {% else %}
                        <option value="{{subcategory.id}}">{{subcategory.subcategory_rus}}</option>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </select>
    {% endif %}
</div>