{% extends "layouts/basic.html" %}
{% load static %}

{% block title %}Notifications{% endblock %}

{% block content %}
<!-- Page Title
============================================= -->
<section class="page-title bg-transparent">
    <div class="container">
        <div class="page-title-row">

            <div class="page-title-content">
                <h1>Notifications</h1>
                <span>Your Latest Notifications</span>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'main' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Notifications</li>
                </ol>
            </nav>

        </div>
    </div>
</section><!-- .page-title end -->

<!-- Content -->
<section id="content">
    <div class="content-wrap">
        <div class="container">

            <div class="row gx-5 col-mb-80">
                <!-- Post Content
                ============================================= -->
                <main class="postcontent col-lg-9">

                    <!-- Posts
                    ============================================= -->
                    <div id="posts" class="row grid-container gutter-30">
                        {% if page_obj %}
                            {% for notification in page_obj %}
                                {% if notification.post %}
                                    <div class="entry col-12" id="element">
                                        <div class="grid-inner">
                                            <div class="entry-image">
                                                {% if notification.post.preview %}
                                                    <a href="{{ notification.post.preview.url }}" data-lightbox="image"><img src="{{ notification.post.preview.url }}" alt="Standard Post with Image" width="960" style="object-fit: cover; max-width: 100%; height: 445px;"></a>
                                                {% endif %}
                                            </div>
                                            <div class="entry-title">
                                                <h2><a href="{% url 'posts:show' notification.post.slug %}">{{ notification.post.title }}</a></h2>
                                            </div>
                                            <div class="entry-meta">
                                                <ul>
                                                    <li><i class="uil uil-schedule"></i> {{ notification.post.date|date:"d M Y H:i" }}</li>
                                                    <li><a href="{% url 'users:profile' notification.post.user.username %}"><i class="uil uil-user"></i> {{ notification.post.user.username }}</a></li>
                                                </ul>
                                            </div>
                                            <div class="entry-content">
                                                <p>{{ notification.post.description }}</p>
                                                <a href="{% url 'posts:show' notification.post.slug %}" class="more-link">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                {% elif notification.survey %}
                                    <div class="entry col-12" id="element">
                                        <div class="grid-inner">
                                            <div class="entry-image">
                                                {% if notification.survey.preview %}
                                                <a href="{{ notification.survey.preview.url }}" data-lightbox="image"><img src="{{ notification.survey.preview.url }}" alt="Standard Post with Image" width="960" style="object-fit: cover; max-width: 100%; height: 445px;"></a>
                                            {% endif %}
                                            </div>
                                            <div class="entry-title">
                                                <h2><a href="{% url 'surveys:show' notification.survey.slug %}">{{ notification.survey.title }}</a></h2>
                                            </div>
                                            <div class="entry-meta">
                                                <ul>
                                                    <li><i class="uil uil-schedule"></i> {{ notification.survey.date|date:"d M Y H:i" }}</li>
                                                    <li><a href="{% url 'users:profile' notification.survey.user.username %}"><i class="uil uil-user"></i> {{ notification.survey.user.username }}</a></li>
                                                </ul>
                                            </div>
                                            <div class="entry-content">
                                                <p>{{ notification.survey.description }}</p>
                                                <a href="{% url 'surveys:show' notification.survey.slug %}" class="more-link">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                {% elif notification.donate %}
                                    <div class="entry col-12" id="element">
                                        <div class="grid-inner">
                                            <div class="entry-image">
                                                <a href="{% static 'images/donate.png' %}" data-lightbox="image"><img src="{% static 'images/donate.png' %}" alt="Standard Post with Image" width="960" style="object-fit: cover; max-width: 100%; height: 445px;"></a>
                                            </div>
                                            <div class="entry-title">
                                                <h2><a href="{% url 'blogs:donate_show' notification.donate.pk %}">{{ notification.donate.message|truncatechars:20 }}</a></h2>
                                            </div>
                                            <div class="entry-meta">
                                                <ul>
                                                    <li><i class="uil uil-schedule"></i> {{ notification.donate.date|date:"d M Y H:i" }}</li>
                                                    <li><a href="{% url 'users:profile' notification.donate.user.username %}"><i class="uil uil-user"></i> {{ notification.donate.user.username }}</a></li>
                                                </ul>
                                            </div>
                                            <div class="entry-content">
                                                <p></p>
                                                <a href="{% url 'blogs:donate_show' notification.donate.pk %}" class="more-link">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="entry col-12" id="element">
                                <h1>No new notifications</h1>
                            </div>
                        {% endif %}
                    </div><!-- #posts end -->

                    <!-- Pager
                    ============================================= -->
                    {% if page_obj.paginator.num_pages > 1 %}
                        <ul class="pagination" style="overflow: auto;">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="{% url 'notifications:index' %}?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a></li>
                            {% endif %}

                            {% for p in page_obj.paginator.page_range %}
                                {% if p == page_obj.number %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'notifications:index' %}?page={{ p }}">{{ p }}</a></li> 
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="{% url 'notifications:index' %}?page={{ p }}">{{ p }}</a></li>
                                {% endif %}                  
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="{% url 'notifications:index' %}?page={{ page_obj.next_page_number }}">Next</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    <!-- .pager end -->

                </main><!-- .postcontent end -->

                {% if page_obj %}
                    <!-- Sidebar
                    ============================================= -->
                    <form class="sidebar col-lg-3" method="POST" id="delete_all_notifications">
                        {% csrf_token %}
                        <a style="cursor: pointer;" class="list-group-item list-group-item-action d-flex justify-content-between"><button type="submit" class="btn btn-outline-danger">Delete all</button><i class="bi-credit-card"></i></a>
                    </form><!-- .sidebar end -->
                {% endif %}
            </div>

        </div>
    </div>
</section><!-- #content end -->

{% endblock %}

{% block js %}
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/delete_all_notifications.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock %}