{% extends "layouts/basic.html" %}
{% load tz %}
{% load static %}

{% block title %}Test run of post{% endblock %}

{% block head %}
<script src='https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}'></script>
<style>
    .progress-bar-1 {
        background-color: #e7e8e6;
        padding: 10px 0;
        border-radius: 10px;
    }

    .progress-bar-2 {
        position: relative;
        top: -20px;
        background-color: #7cfc00;
        padding: 10px 0;
        border-radius: 10px;
    }
    
    .progress-bar-3 {
        position: relative;
        top: -20px;
        text-align: center;
    }

    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        background-color: #f5f5f5;
    }
    
    #quiz-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        width: 600px;
        text-align: center;
    }
    
    button {
        margin-top: 20px;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
    }
    
    button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
</style>
{% endblock %}

{% block content %}
<!-- Content
============================================= -->
<section id="content">
    <input type="hidden" id="g_recaptcha_response" name="g_recaptcha_response">
    <div class="content-wrap" style="background-color: #EEE">
        <div class="container">
            <div class="single-post mb-0 mw-md mx-auto bg-light p-4 p-sm-5 rounded-1">
                <!-- Single Post============================================= -->
                <div class="entry">
                    <!-- Entry Title============================================= -->
                    <div class="entry-title">
                        <h2 class="fix_text">{{ post.title }}</h2>
                    </div><!-- .entry-title end -->
                    <div class="row align-items-center mt-2">
                        <div class="col-md-3">
                            <!-- Entry Meta ============================================= -->
                            <div>
                                <ul class="d-flex flex-column entry-meta no-separator">
                                    <li class="me-0"><i class="uil uil-schedule"></i> {{ post.date|date:"d M Y" }}</li>
                                    <li class="me-0"><a href="{% url 'users:profile' post.user.username  %}"><i class="uil uil-user"></i> {{ post.user.username }}</a></li>
                                    <li class="me-0"><i class="uil uil-comments-alt"></i> {{ count_comments }} Comments</li>
                                    <li class="me-0"><img width="16" height="16" style="margin-top: -2px; opacity: 0.5;" src="{% static 'images/icon_eye.png' %}"> <span style="margin-left: 5.5px;">{{ count_views }}</span></li>
                                </ul>
                            </div><!-- .entry-meta end -->
                        </div>
                        {% if post.description %}
                            <div class="col-md-9">
                                <p class="text-larger text-muted mt-3">{{ post.description }}</p>
                            </div>
                        {% endif %}
                    </div>

                    <div class="clear"></div>

                    <input type="hidden" name="post_id" value="{{ post.id }}">

                    <!-- Entry Image
                    ============================================= -->
                    <div class="entry-image align-wide-xl my-3">
                        {% if post.preview %}
                            <img src="{{ post.preview.url }}" width="500" height="281"
                                    allow="autoplay; fullscreen" allowfullscreen>
                            <figcaption class="text-center mt-2 text-muted text-smaller">Image Caption Text</figcaption>
                        {% endif %}
                    </div><!-- .entry-image end -->

                    <div class="clear"></div>

                    <!-- Entry Content
                    ============================================= -->
                    <div class="mb-4">{{ post.content|safe }}</div>

                </div><!-- .entry end -->
                <div class="d-flex justify-content-between">
                    <div id="quiz-container">
                        <h2>Тест</h2>
                        <div id="question-container"></div>
                        <button id="restart-button">Начать сначала</button>
                        <button id="next-button">Далее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if request.user == post.user %}
        <input type="hidden" name="delete_comment_from" value="forever">
    {% else %}
        <input type="hidden" name="delete_comment_from" value="from_user">
    {% endif %}
</section><!-- #content end -->
{% endblock %}

{% block js %}
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/test/test_run.js' %}"></script>
    <script>
        function delete_comment_block(id, username, text, date) {
            return `
                <li id="comment_${id}" class="comment byuser comment-author-_smcl_admin even thread-odd thread-alt depth-1"
                    id="li-comment-2">

                    <div id="comment-2" class="comment-wrap">


                        <div class="comment-content d-flex justify-content-between align-items-start">
                            <div>
                                <div class="comment-author"><a href='/profile/${username}/'
                                                                rel='external nofollow' class='url'>${username}</a><span>${date}</span>
                                </div>

                                <p>${text}</p>
                            </div>
                            <div>

                                <div><a style="cursor: pointer; color: var(--cnvs-themecolor);" onclick="delete_${document.querySelector('input[name="delete_comment_from"]').value}(${id})" id="${id}">delete</a></div>

                                <div class="mt-4" style="text-align: right;"><a style="cursor: pointer; color: var(--cnvs-themecolor);" onclick="form_reply(${id})">reply</a></div>
                            </div>
                        </div>

                        <div class="clear"></div>

                    </div>

                    <ul class="children"></ul>

                    <form class="row mt-2" method="post" style="display: none;" id="answerform">
                        {% csrf_token %}
                        <input type="hidden" value="${id}" name="comment_id">
                        <div class="w-100"></div>

                        <div class="col-12 form-group">
                            <label for="answer">Answer</label>
                            <textarea id="id_answer" name="answer" cols="58" rows="7" tabindex="4"
                                        class="form-control"></textarea>
                        </div>

                        <div class="col-12 form-group">
                            <button name="submit" type="submit" id="submit-button" tabindex="5" class="button button-3d m-0">
                                Submit Answer
                            </button>
                        </div>
                    </form>
                </li>
            `;
        }

        function delete_comment_block_user(id) {
            return `
                <div class="comment-content d-flex justify-content-between align-items-center">
                    <span style="color: #adb5bd;">This comment was deleted by the user.</span>
                    <div>
                        <div class="mt-4" style="text-align: right;"><a style="cursor: pointer; color: var(--cnvs-themecolor);" onclick="form_reply(${id})">reply</a></div>
                    </div>
                </div>

                <div class="clear"></div>
            `;
        }

    </script>
    <script>
        function get_g_token() {
            //global grecaptcha
            grecaptcha.ready(function() {
                grecaptcha.execute('{{recaptcha_site_key}}').then(function(token) {
                    document.getElementById('g_recaptcha_response').value = token;
                });
            });
        }

        get_g_token();
    </script>
{% endblock %}