{% extends "layouts/basic.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Page Title
============================================= -->
<section class="page-title bg-transparent">
    <div class="container">
        <div class="page-title-row">

            <div class="page-title-content">
                <h1>{{ blog }}</h1>
                <span>{{ our_latest_news }}</span>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'main' %}">{{ home }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ blog }}</li>
                </ol>
            </nav>

        </div>
        <div class="mt-2">
            {% if request.GET.q == 'tracked' %}
                <a style="color:black; cursor: pointer;" href="{% url 'main' %}">Everything</a>
                <a href="{% url 'main' %}?q=tracked" style="color:black; font-weight: bold; cursor: pointer;">Tracked</a>
            {% else %}
                <a href="{% url 'main' %}" style="color:black; font-weight: bold; cursor: pointer;">Everything</a>
                <a style="color:black; cursor: pointer;" href="{% url 'main' %}?q=tracked">Tracked</a>
            {% endif %}
        </div>
    </div>
</section><!-- .page-title end -->

<!-- Content -->
<section id="content">
    <div class="content-wrap">
        <div class="container">
            <div class="row gx-5 col-mb-80">
                <!-- Post Content
                ============================================= -->
                <main class="postcontent col-lg-9">
                    <!-- Posts
                    ============================================= -->
                    <div id="posts" class="row grid-container gutter-30">

                        {% for e in page_obj %}
                            <div class="entry col-12" id="element">
                                <div class="grid-inner">
                                    <div class="entry-image">
                                        {% if e.preview %}
                                            <a href="{{ e.preview.url }}" data-lightbox="image"><img src="{{ e.preview.url }}" alt="Standard e with Image" width="960" style="object-fit: cover; max-width: 100%; height: 445px;"></a>
                                        {% endif %}
                                    </div>
                                    <div class="entry-title">
                                        <h2><a href="/{{ e.namespace }}/show/{{ e.slug }}/">{{ e.title }}</a></h2>
                                    </div>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><i class="uil uil-schedule"></i> {{ e.date|date:"d M Y" }}</li>
                                            <li><a href="{% url 'users:profile' e.user.username %}"><i class="uil uil-user"></i> {{ e.user.username }}</a></li>
                                            <li><a href="/{{ e.namespace }}/show/{{ e.slug }}/"><i class="uil uil-comments-alt"></i> {{ e.count_comments }} Comments</a></li>
                                            <li><img width="16" height="16" style="margin-top: -2px; opacity: 0.5;" src="{% static 'images/icon_eye.png' %}"><span style="margin-left: 8px;">{{ e.count_views }}</span></li>
                                        </ul>
                                    </div>
                                    <div class="entry-content">
                                        <p>{{ e.content|striptags|truncatechars:10 }}</p>
                                        <a href="/{{ e.namespace }}/show/{{ e.slug }}/" class="more-link">Read More</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div><!-- #posts end -->

                    <!-- Pager
                    ============================================= -->
                    {% if page_obj.paginator.num_pages > 1 %}
                        <ul class="pagination" style="overflow: auto;">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="{% url 'main' %}?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a></li>
                            {% endif %}

                            {% for p in page_obj.paginator.page_range %}
                                {% if p == page_obj.number %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'main' %}?page={{ p }}">{{ p }}</a></li> 
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="{% url 'main' %}?page={{ p }}">{{ p }}</a></li>
                                {% endif %}                  
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="{% url 'main' %}?page={{ page_obj.next_page_number }}">Next</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    <!-- .pager end -->

                </main><!-- .postcontent end -->

                <!-- Sidebar
                ============================================= -->
                <aside class="sidebar col-lg-3">
                    <div>Selection of blogs</div>
                    <button class="btn btn-link" id="btn_day">Day</button>
                    <button class="btn btn-link" id="btn_week">Week</button>
                    <div id="blogs_day" class="mb-2">
                        {% for e in popular_day %}
                            <a href="/{{ e.namespace }}/show/{{ e.slug }}/">
                                <div>{{ e.title }}</div>
                                {% if e.preview %}
                                    <div><img src="{{ e.preview.url }}" width="200"></div>
                                {% endif %}
                            </a>
                        {% endfor %}
                        <a href="{% url 'popular' %}?q=day" class="more-link">Read More</a>
                    </div>

                    <div id="blogs_week" class="mb-2" style="display: none;">

                        {% for e in popular_week %}
                            <a href="/{{ e.namespace }}/show/{{ e.slug }}/">
                                <div>{{ e.title }}</div>
                                {% if e.preview %}
                                    <div><img src="{{ e.preview.url }}" width="200"></div>
                                {% endif %}
                            </a>
                        {% endfor %}
                        <a href="{% url 'popular' %}?q=week" class="more-link">Read More</a>
                    </div>

                    <div class="mt-4">Who is being watched</div>
                    <button class="btn btn-link" id="btn_day_users">Day</button>
                    <button class="btn btn-link" id="btn_week_users">Week</button>
                    <div id="users_day" class="mb-2">
                        {% for e in users_day %}
                            <a href="{% url 'users:profile' e.username %}">
                                <div>{{ e.username }}</div>
                            </a>
                        {% endfor %}
                        <a href="{% url 'popular_users' %}?q=day" class="more-link">Read More</a>
                    </div>

                    <div id="users_week" class="mb-2" style="display: none;">
                        {% for e in users_week %}
                            <a href="{% url 'users:profile' e.username %}">
                                <div>{{ e.username }}</div>
                            </a>
                        {% endfor %}
                        <a href="{% url 'popular_users' %}?q=week" class="more-link">Read More</a>
                    </div>

                    {% include "layouts/sidebar.html" %}
                </aside><!-- .sidebar end -->
            </div>

        </div>
    </div>
</section><!-- #content end -->

{% endblock %}

{% block js %}
<script src="{% static 'js/functions.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    document.querySelector('#btn_day').addEventListener('click', function() {
        document.querySelector('#blogs_day').style.display = 'block';
        document.querySelector('#blogs_week').style.display = 'none';
    });

    document.querySelector('#btn_week').addEventListener('click', function() {
        document.querySelector('#blogs_week').style.display = 'block';
        document.querySelector('#blogs_day').style.display = 'none';
    });

    document.querySelector('#btn_day_users').addEventListener('click', function() {
        document.querySelector('#users_day').style.display = 'block';
        document.querySelector('#users_week').style.display = 'none';
    });

    document.querySelector('#btn_week_users').addEventListener('click', function() {
        document.querySelector('#users_week').style.display = 'block';
        document.querySelector('#users_day').style.display = 'none';
    });
</script>
{% endblock %}